<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DENDE Spa</title>
    {{! BOOTSTRAP CSS }}
    <link rel="stylesheet" href="/bootstrap_css/bootstrap.min.css" />
    {{! AXIOS }}
    <script src="axios/axios.min.js"></script>
  </head>
  <body class="">
    <nav class="navbar bg-info">
      <div
        class="container-fluid text-center justify-content-center align-items-center"
      >
        <a class="navbar-brand bold" href="/"><b><u>DENDE Spa</u></b></a>
      </div>
    </nav>
    {{{body}}}
    {{! Bootstrap JQuery }}
    <script src="/bootstrap_js/bootstrap.bundle.min.js"></script>
    {{! JQuery }}
    <script src="/jquery/jquery.js"></script>
    {{! Local }}
    <script src="js/control.js"></script>
  </body>
</html>