<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card mx-auto mt-4 text-center">
        <div class="card-header">
          <b>Registro de pacientes</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><button
              type="button"
              class="btn btn-primary w-40"
              id="btn-registrar"
            >Registrar</button></li>
          <li class="list-group-item bg-info" id="datosRecibidos"></li>
          <li class="list-group-item" id="datosRecibidos-nombre"></li>
          <li class="list-group-item" id="datosRecibidos-apellido"></li>
          <li class="list-group-item" id="datosRecibidos-genero"></li>
        </ul>
        <div class="card-footer d-flex justify-content-center">
          <div id="datosRecibidos">
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card mx-auto mt-4 text-center">
        <div class="card-header">
          <b>Listado de pacientes</b>
          <button
            type="button"
            class="btn btn-info w-40"
            id="btn-lista-generos"
          >Filtrar por género</button>
        </div>

        <table class="table table-striped">
          <thead id="table-header">
            <tr>
              <th>N°</th>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody id="table-body">
            {{> alert-toast mensaje="Primero debes ingresar pacientes."}}
          </tbody>
        </table>
        <div class="card-footer d-flex justify-content-center">
        </div>
      </div>
    </div>
  </div>
  
</div>